body {
	background-color: #FBF5F3;
}

h1 {
	background-color: #8DAA9D;
	color: #7B0828;
}

h2 {
	background-color: #8DAA9D;
	color: #7B0828;
}

h4 {
	background-color: #0F0E0E;
	color: #FBF5F3;
}

p {
	background-color: #8DAA9D;
	color: #522B47;
}